docs/index.html
<DOCTYPE html="html"></DOCTYPE><html><head><meta charset="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0"/><title>Tundra</title><link rel="shortcut icon" type="image/png" href="img/tundra.png"/><link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"/><link rel="stylesheet" type="text/css" href="./css/font-awesome.css"/><link rel="stylesheet" type="text/css" href="./css/style.css?v=1"/><script src="./js/jquery.js"></script><script src="./js/animations.js"></script><script src="./js/scripts.js"></script></head><body><section id="landing"><img id="logo" src="./img/tundra.png"/><h1>Tundra</h1><h2>A notetaking applicaiton with code and formula integration. Built using QuillJs.</h2><a href="#download">Download</a></section><section><img src="./img/theme.png"/><div class="content"><h1>Themed Notetaking</h1><div class="bar"></div><h2>Create your own theme or load one of the presets to add a bit of flair when writing notes.</h2><a href="#download">Download</a></div></section><section><img src="./img/code.png"/><div class="content"><h1>Perfect for Code</h1><div class="bar"></div><h2>Don't disrupt your notetaking. With a simple keystroke, convert between code and text.</h2><a href="#download">Download</a></div></section><section id="download"><h1>Download Now</h1><h2>Alpha v.1 (not available yet)</h2><div id="links"><a href="/"><img src="./img/apple.png"/></a><a href="/"><img src="./img/windows.png"/></a></div></section><div class="footer"><span>&copy; Andrew Wang 2018. All Rights Reserved.</span></div></body></html>

templates/index.pug
DOCTYPE(html)
html
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, initial-scale=1.0") 
        title="Tundra"
        
        link(rel="shortcut icon" type="image/png" href="img/tundra.png")

        //- CSS
        link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i")
        link(rel="stylesheet" type="text/css" href="./css/font-awesome.css")
        link(rel="stylesheet" type="text/css" href="./css/style.css?v=1")

        //- JS
        script(src="./js/jquery.js")
        script(src="./js/animations.js")
        script(src="./js/scripts.js")

    body
        section#landing
            img#logo(src="./img/tundra.png")
            h1 Tundra
            h2 A notetaking applicaiton with code and formula integration. Built using QuillJs.
            a(href="#download") Download
        section
            img(src="./img/theme.png")
            .content
                h1 Themed Notetaking
                .bar
                h2 Create your own theme or load one of the presets to add a bit of flair when writing notes.
                a(href="#download") Download
        section
            img(src="./img/code.png")
            .content
                h1 Perfect for Code
                .bar
                h2 Don't disrupt your notetaking. With a simple keystroke, convert between code and text.
                a(href="#download") Download
        section#download
            h1 Download Now
            h2 Alpha v.1 (not available yet)
            #links
                a(href="/")
                    img(src="./img/apple.png")
                a(href="/")
                    img(src="./img/windows.png")
        .footer
            span &copy; Andrew Wang 2018. All Rights Reserved.
